<div class="container">
  <div class="col">
    <h3> {{title}} </h3>
  </div>
  <hr/>

  <form class="form">
    <div class="form-group col-md-5">
      <label for="fullName">FullName</label>
      <input type="text" name="fullName" id="fullName" placeholder="fullName" 
      class="form-control" [(ngModel)]="fullNameInput">
    </div>
    
    <div class="form-group col-md-4">
      <label for="identification" class="sr-only">Identification</label>
      <input type="number" name="identificacion" id="identification" placeholder="identification" 
      class="form-control" [(ngModel)]="identificationInput">
    </div>

    <div class="form-group col-md-3">
      <label for="birth" class="sr-only">birth</label>
      <input type="date" name="birth" id="birth" placeholder="birth" 
      class="form-control" [(ngModel)]="birthInput">
    </div>
    <br>
    <div class="col">
      <button type="summit" id="add" class="btn btn-primary" (click)="addPeople()"> add </button>
    </div>
    <input type="hidden" id="limpiar"> 
  </form>
</div>

<div class="container">
  <hr/>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FullName</th>
        <th scope="col">Birth</th>
        <th scope="col">Identification</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let people of peoples; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{people.fullName}}</td>
          <td>{{people.birth}}</td>
          <td>{{people.identification}}</td>
          <td>
            <button type="summit" id="borrar" class="btn btn-primary" (click)="deletePeople(people.identification)"> Delete </button>
          </td>
        </tr>
    </tbody>
  </table>
</div>